# Publish a release to PyPI.
#
# Assumed to run as a subworkflow of .github/workflows/release.yml; specifically, as a publish job
# within `cargo-dist`.
name: "Publish to PyPI"

on:
  workflow_call:
    inputs:
      release-version:
        required: true
        type: string
      dry-run:
        required: true
        type: boolean

jobs:
  pypi-publish:
    name: Upload to PyPI
    runs-on: ubuntu-latest
    if: ${{ !inputs.dry-run }}

    steps:
      - name: "Install uv"
        uses: astral-sh/setup-uv@v3
      - uses: actions/download-artifact@v4
        with:
          pattern: pypi_files_*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        run: |
          python -m pip install twine
          python -m twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
