name: tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: PyO3/maturin-action@v1

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install the project
        run: uv sync

      - name: Build tarball
        run: uv build

      - name: "Test sdist"
        run: |
          uv run pytest -sxv

      - name: "Upload sdist"
        uses: actions/upload-artifact@v4
        with:
          name: pypi_files_sdist
          path: dist
